body {
  font-family: "Inter";
}

.cont {
  text-align: center;
}

.toggle {
  position: relative;
  display: inline-block;
}

.toggle__input {
  display: none;
}

.toggle__label {
  display: block;
  width: 60px;
  height: 30px;
  background-color: #888888;
  border-radius: 99px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-mode .toggle__label {
  background-color: #204A8E;
}

.toggle__input:checked + .toggle__label::after {
  left: 32px;
}

.toggle__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #DDDDDD;
  border-radius: 50%;
  transition: left 0.3s ease;
}

body.dark-mode {
  background-color: #181818;
  color: #ffffff;
}
body.dark-mode .samachar-container,
body.dark-mode .news-radar-top {
  border-color: white;
}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode a,
body.dark-mode p,
body.dark-mode h3 {
  color: #ffffff !important;
}
body.dark-mode .menu-hamburger {
  background: #ffffff;
}
body.dark-mode .menu-hamburger::before, body.dark-mode .menu-hamburger::after {
  background: #ffffff;
}
body.dark-mode .hamburger-active {
  background: black;
}
body.dark-mode .hamburger-active::before, body.dark-mode .hamburger-active::after {
  background: #ffffff;
}
body.dark-mode .news-category,
body.dark-mode .sub-category-item-link {
  color: #ffffff;
}
body.dark-mode .navigation-bottom-link {
  color: black;
}
body.dark-mode .button-hollow {
  background-color: #F5F8FB !important;
}
body.dark-mode .dark-mode-container {
  border-color: white;
}
body.dark-mode .navigation-bottom {
  background-color: #204A8E;
}
body.dark-mode .navigation-bottom a {
  color: white;
}
body.dark-mode .menu-footer {
  background-color: black;
}
body.dark-mode .unred {
  background-color: #204A8E;
}
body.dark-mode .news-radar-bottom,
body.dark-mode .register-top-container,
body.dark-mode .login-top-container,
body.dark-mode .bivid-date,
body.dark-mode .notification-date,
body.dark-mode .bichar-date,
body.dark-mode .create-account-container,
body.dark-mode .header-container,
body.dark-mode .comment-container-1, body.dark-mode .comment-bottom, body.dark-mode .comment-top-container {
  background-color: #204A8E !important;
}
body.dark-mode .or p {
  background-color: #181818 !important;
}

* {
  margin: 0px;
  padding: 0px;
}

.main-content {
  padding: 0px 16px;
}

body {
  font-family: "Inter";
}

.artha-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 27px 0px 21px 16px;
  align-items: center;
  border-bottom: 1px solid #DDDDDD;
}
.artha-header-header {
  color: #326CAC;
  font-family: "Mukta";
  font-size: 24px;
  font-weight: 600;
}

.artha-image {
  width: 100%;
}
.artha-image img {
  width: 100%;
  object-fit: cover;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #F5F8FB;
  padding: 16px;
  font-family: "Mukta";
}
.header-container .header-category {
  color: #326CAC;
  font-size: 22px;
  font-weight: 500;
}
.header-container .header-header {
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
}
.header-container .author {
  font-size: 20px;
  color: #666666;
}
.header-container .author-time {
  color: #888888;
}

.news-content {
  padding: 16px;
}
.news-content-ads {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.news-content-ad {
  flex: 1;
}
.news-content-ad img {
  width: 100%;
  object-fit: contain;
}
.news-content-ad-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.news-content-ad-1 img {
  width: 100%;
  object-fit: contain;
}
.news-content-p-container p {
  line-height: 28px;
  font-size: 20px;
  font-family: "Mukta";
  color: #606060;
  font-weight: 400;
  margin-bottom: 16px;
}
.news-content-image {
  width: 100%;
  margin-bottom: 16px;
}
.news-content-image img {
  width: 100%;
  object-fit: cover;
}

.comment-container-1 {
  background-color: rgba(50, 108, 172, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.comment-container-1 .comments {
  color: #204A8E;
}
.comment-container-1 .comments-number {
  font-weight: 600;
}
.comment-container-1 .comment-btn {
  width: 91px;
  height: 32px;
  font-size: 14px;
  background-color: rgba(50, 108, 172, 0.1);
  color: #204A8E;
  border: 1px solid #204A8E;
  cursor: pointer;
}

.navigation-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 44px;
  position: sticky;
  bottom: 0px;
  background-color: white;
  z-index: 100;
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.navigation-bottom-item {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
.navigation-bottom-item-image {
  font-size: 10px;
}
.navigation-bottom-link {
  color: black;
  text-decoration: none;
}
.navigation-bottom-item-text {
  font-size: 10px;
}

.hidden-nav-bottom {
  transform: translateY(100%);
}/*# sourceMappingURL=artha.css.map */