body {
  font-family: "Inter";
}

.cont {
  text-align: center;
}

.toggle {
  position: relative;
  display: inline-block;
}

.toggle__input {
  display: none;
}

.toggle__label {
  display: block;
  width: 60px;
  height: 30px;
  background-color: #888888;
  border-radius: 99px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-mode .toggle__label {
  background-color: #204A8E;
}

.toggle__input:checked + .toggle__label::after {
  left: 32px;
}

.toggle__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #DDDDDD;
  border-radius: 50%;
  transition: left 0.3s ease;
}

body.dark-mode {
  background-color: #181818;
  color: #ffffff;
}
body.dark-mode .samachar-container,
body.dark-mode .news-radar-top {
  border-color: white;
}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode a,
body.dark-mode p,
body.dark-mode h3 {
  color: #ffffff !important;
}
body.dark-mode .menu-hamburger {
  background: #ffffff;
}
body.dark-mode .menu-hamburger::before, body.dark-mode .menu-hamburger::after {
  background: #ffffff;
}
body.dark-mode .hamburger-active {
  background: black;
}
body.dark-mode .hamburger-active::before, body.dark-mode .hamburger-active::after {
  background: #ffffff;
}
body.dark-mode .news-category,
body.dark-mode .sub-category-item-link {
  color: #ffffff;
}
body.dark-mode .navigation-bottom-link {
  color: black;
}
body.dark-mode .button-hollow {
  background-color: #F5F8FB !important;
}
body.dark-mode .dark-mode-container {
  border-color: white;
}
body.dark-mode .navigation-bottom {
  background-color: #204A8E;
}
body.dark-mode .navigation-bottom a {
  color: white;
}
body.dark-mode .menu-footer {
  background-color: black;
}
body.dark-mode .unred {
  background-color: #204A8E;
}
body.dark-mode .news-radar-bottom,
body.dark-mode .register-top-container,
body.dark-mode .login-top-container,
body.dark-mode .bivid-date,
body.dark-mode .notification-date,
body.dark-mode .bichar-date,
body.dark-mode .create-account-container,
body.dark-mode .header-container,
body.dark-mode .comment-container-1, body.dark-mode .comment-bottom, body.dark-mode .comment-top-container {
  background-color: #204A8E !important;
}
body.dark-mode .or p {
  background-color: #181818 !important;
}

* {
  margin: 0px;
  padding: 0px;
}

.main-content {
  padding: 0px 16px;
}

body {
  font-family: "Inter";
  height: 100vh;
}

.for-you-feed-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 29px 16px 16px 16px;
  border-bottom: 1px solid #DDDDDD;
}
.for-you-feed-top h1 {
  font-weight: 600;
  font-size: 24px;
}
.for-you-feed-top .notification-profile-container {
  display: flex;
  flex-direction: row;
  gap: 33px;
  align-items: center;
}
.for-you-feed-top .notification-profile-container .notification-icon-image {
  width: 28px;
  height: 28px;
}
.for-you-feed-top .notification-profile-container .notification-icon-image img {
  width: 100%;
  object-fit: cover;
}
.for-you-feed-top .notification-profile-container .for-you-profile-image {
  width: 36px;
  height: 36px;
}
.for-you-feed-top .notification-profile-container .for-you-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.for-you-nav {
  border-bottom: 1px solid #DDDDDD;
}
.for-you-nav-ul {
  padding: 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.for-you-nav-item {
  list-style: none;
}
.for-you-nav-item-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
}

.active {
  color: #326CAC;
  font-weight: 600;
}
.active::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  top: 32px;
  left: 0px;
  background-color: #326CAC;
}

.news-container {
  border-bottom: 1px solid #DDDDDD;
}

.news-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 16px;
  border-bottom: 1px solid #DDDDDD;
}
.news-wrapper .news-category-wrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.news-wrapper .news-category-wrapper .news-category-name {
  font-family: "Mukta";
  font-weight: 600;
  color: #326CAC;
  font-size: 14px;
}
.news-wrapper .news-category-wrapper .news-category-time {
  font-family: "Mukta";
  font-size: 14px;
  color: #888888;
}
.news-wrapper .news-author-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.news-wrapper .news-author-wrapper .news-author {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 16px;
  align-items: center;
}
.news-wrapper .news-author-wrapper .news-author-image {
  width: 32px;
  height: 32px;
}
.news-wrapper .news-author-wrapper .news-author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.news-wrapper .news-author-wrapper .news-author-name {
  color: #326CAC;
  font-family: "Mukta";
  font-size: 18px;
}
.news-wrapper .news-author-wrapper .see-all {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: #326CAC;
  font-weight: 600;
}

.news-content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  border-bottom: 9px;
}
.news-content-wrapper a {
  color: black;
  text-decoration: none;
}
.news-content-wrapper .news-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.news-content-wrapper .news-content-header {
  font-weight: 600;
  font-family: "Mukta";
  font-size: 18px;
  line-height: 18px;
}
.news-content-wrapper .news-content-p {
  font-family: "Mukta";
  font-size: 14px;
}
.news-content-wrapper .news-content-image {
  width: 117px;
  height: 87px;
}
.news-content-wrapper .news-content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.kantipur-share {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 13px;
}
.kantipur-share-p {
  font-family: "Mukta";
  color: #888888;
  font-size: 14px;
}
.kantipur-share-buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.news-container-banner-bottom {
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F5F8FB;
}
.news-container-banner-bottom p {
  color: #326CAC;
  font-size: 14px;
  font-weight: 500;
}
.news-container-banner-bottom-btn {
  font-size: 14px;
  background-color: rgba(50, 108, 172, 0.1);
  color: #204A8E;
  border: 1px solid #204A8E;
  cursor: pointer;
  width: 78px;
  height: 32px;
}

.explore-header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
  padding: 16px;
}
.explore-header {
  color: #326CAC;
  font-weight: 600;
  font-size: 24px;
}
.explore p {
  color: #888888;
  font-family: "Mukta";
}
.explore-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  position: relative;
  border-bottom: 1px solid #DDDDDD;
}
.explore-name {
  font-weight: 800;
  font-family: "Mukta";
  font-size: 24px;
}
.explore-btn {
  font-size: 14px;
  background-color: rgba(50, 108, 172, 0.1);
  color: #204A8E;
  border: 1px solid #204A8E;
  cursor: pointer;
  width: 117px;
  height: 32px;
}

.view-more {
  text-align: center;
  padding: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
.view-more a {
  color: #204A8E;
  font-size: 16px;
  text-decoration: none;
}
.view-more-text {
  text-decoration: underline;
  margin-right: 12px;
}
.view-more-arrow {
  text-decoration: none;
}

.author-container .author-wrapper {
  padding: 16px;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.author-container .author-wrapper .author-profile {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.author-container .author-wrapper .author-profile-immage {
  width: 48px;
  height: 48px;
}
.author-container .author-wrapper .author-profile-immage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.author-container .author-wrapper .author-profile-name {
  font-weight: 600;
  font-family: "Mukta";
  font-size: 18px;
}
.author-container .author-wrapper .author-follow-btn {
  font-size: 14px;
  background-color: rgba(50, 108, 172, 0.1);
  color: #204A8E;
  border: 1px solid #204A8E;
  cursor: pointer;
  width: 117px;
  height: 32px;
}

.navigation-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  position: sticky;
  bottom: 0px;
  background-color: white;
  z-index: 100;
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.navigation-bottom-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}
.navigation-bottom-item-image {
  font-size: 10px;
}
.navigation-bottom-link {
  color: black;
  text-decoration: none;
}
.navigation-bottom-item-text {
  font-size: 10px;
}

.hidden-nav-bottom {
  transform: translateY(100%);
}/*# sourceMappingURL=forYouSaved.css.map */