body {
  font-family: "Inter";
}

.cont {
  text-align: center;
}

.toggle {
  position: relative;
  display: inline-block;
}

.toggle__input {
  display: none;
}

.toggle__label {
  display: block;
  width: 60px;
  height: 30px;
  background-color: #888888;
  border-radius: 99px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-mode .toggle__label {
  background-color: #204A8E;
}

.toggle__input:checked + .toggle__label::after {
  left: 32px;
}

.toggle__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #DDDDDD;
  border-radius: 50%;
  transition: left 0.3s ease;
}

body.dark-mode {
  background-color: #181818;
  color: #ffffff;
}
body.dark-mode .samachar-container,
body.dark-mode .news-radar-top {
  border-color: white;
}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode a,
body.dark-mode p,
body.dark-mode h3 {
  color: #ffffff !important;
}
body.dark-mode .menu-hamburger {
  background: #ffffff;
}
body.dark-mode .menu-hamburger::before, body.dark-mode .menu-hamburger::after {
  background: #ffffff;
}
body.dark-mode .hamburger-active {
  background: black;
}
body.dark-mode .hamburger-active::before, body.dark-mode .hamburger-active::after {
  background: #ffffff;
}
body.dark-mode .news-category,
body.dark-mode .sub-category-item-link {
  color: #ffffff;
}
body.dark-mode .navigation-bottom-link {
  color: black;
}
body.dark-mode .button-hollow {
  background-color: #F5F8FB !important;
}
body.dark-mode .dark-mode-container {
  border-color: white;
}
body.dark-mode .navigation-bottom {
  background-color: #204A8E;
}
body.dark-mode .navigation-bottom a {
  color: white;
}
body.dark-mode .menu-footer {
  background-color: black;
}
body.dark-mode .unred {
  background-color: #204A8E;
}
body.dark-mode .news-radar-bottom,
body.dark-mode .register-top-container,
body.dark-mode .login-top-container,
body.dark-mode .bivid-date,
body.dark-mode .notification-date,
body.dark-mode .bichar-date,
body.dark-mode .create-account-container,
body.dark-mode .header-container,
body.dark-mode .comment-container-1, body.dark-mode .comment-bottom, body.dark-mode .comment-top-container {
  background-color: #204A8E !important;
}
body.dark-mode .or p {
  background-color: #181818 !important;
}

* {
  margin: 0px;
  padding: 0px;
}

.main-content {
  padding: 0px 16px;
}

body {
  font-family: "Inter";
}

.latest-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.latest-date-container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background-color: #326CAC;
  align-items: center;
}
.latest-date-container-top .latest-date {
  font-family: "Mukta";
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.latest-date-container-top .latest-date-day {
  font-weight: 600;
  color: #ffffff;
}
.latest-date-container-top .latest-date-date {
  color: #ffffff;
  font-weight: normal;
}
.latest-date-container-top .latest-date-btn {
  width: 73px;
  height: 32px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.latest {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px 16px;
  border-bottom: 1px solid #DDDDDD;
}
.latest-time {
  flex-shrink: 0;
  padding-right: 16px;
}
.latest-time p {
  font-size: 14px;
  font-weight: 600;
}
.latest-title h2 {
  font-size: 16px;
  line-height: 22px;
  font-family: "Mukta";
}
.latest-image {
  width: 78px;
  height: 58px;
  flex-shrink: 0;
}
.latest-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.unred {
  background-color: #F5F8FB;
}

.navigation-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  position: sticky;
  bottom: 0px;
  background-color: white;
  z-index: 100;
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.navigation-bottom-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}
.navigation-bottom-item-image {
  font-size: 10px;
}
.navigation-bottom-link {
  color: black;
  text-decoration: none;
}
.navigation-bottom-item-text {
  font-size: 10px;
}

.hidden-nav-bottom {
  transform: translateY(100%);
}

.latest-ads {
  margin: 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.latest-ad {
  width: 100%;
}
.latest-ad img {
  width: 100%;
  object-fit: contain;
}

.latest-ad-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.latest-ad-1 img {
  width: 100%;
  object-fit: contain;
}

.latest-date-container {
  background-color: #326CAC;
  padding: 16px;
}
.latest-date-container .latest-date {
  font-family: "Mukta";
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.latest-date-container .latest-date-day {
  font-weight: 600;
  color: #ffffff;
}
.latest-date-container .latest-date-date {
  color: #ffffff;
  font-weight: normal;
}
.latest-date-container .latest-date-btn {
  width: 73px;
  height: 32px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

/*# sourceMappingURL=latest.css.map */
