body {
  font-family: "Inter";
}

.cont {
  text-align: center;
}

.toggle {
  position: relative;
  display: inline-block;
}

.toggle__input {
  display: none;
}

.toggle__label {
  display: block;
  width: 60px;
  height: 30px;
  background-color: #888888;
  border-radius: 99px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-mode .toggle__label {
  background-color: #204A8E;
}

.toggle__input:checked + .toggle__label::after {
  left: 32px;
}

.toggle__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #DDDDDD;
  border-radius: 50%;
  transition: left 0.3s ease;
}

body.dark-mode {
  background-color: #181818;
  color: #ffffff;
}
body.dark-mode .samachar-container,
body.dark-mode .news-radar-top {
  border-color: white;
}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode a,
body.dark-mode p,
body.dark-mode h3 {
  color: #ffffff !important;
}
body.dark-mode .menu-hamburger {
  background: #ffffff;
}
body.dark-mode .menu-hamburger::before, body.dark-mode .menu-hamburger::after {
  background: #ffffff;
}
body.dark-mode .hamburger-active {
  background: black;
}
body.dark-mode .hamburger-active::before, body.dark-mode .hamburger-active::after {
  background: #ffffff;
}
body.dark-mode .news-category,
body.dark-mode .sub-category-item-link {
  color: #ffffff;
}
body.dark-mode .navigation-bottom-link {
  color: black;
}
body.dark-mode .button-hollow, body.dark-mode .menu-top-banner-btn {
  background-color: #F5F8FB !important;
}
body.dark-mode .dark-mode-container {
  border-color: white;
}
body.dark-mode .navigation-bottom {
  background-color: #204A8E;
}
body.dark-mode .navigation-bottom a {
  color: white;
}
body.dark-mode .menu-footer {
  background-color: black;
}
body.dark-mode .unred {
  background-color: #204A8E;
}
body.dark-mode .news-radar-bottom,
body.dark-mode .register-top-container,
body.dark-mode .login-top-container,
body.dark-mode .bivid-date,
body.dark-mode .notification-date,
body.dark-mode .bichar-date,
body.dark-mode .create-account-container,
body.dark-mode .header-container,
body.dark-mode .comment-container-1, body.dark-mode .comment-bottom, body.dark-mode .comment-top-container, body.dark-mode .menu-top-banner-wrapper, body.dark-mode .following-banner, body.dark-mode .news-container-banner-bottom {
  background-color: #204A8E !important;
}
body.dark-mode .or p {
  background-color: #181818 !important;
}
body.dark-mode .dark-mode-container, body.dark-mode .menu {
  background-color: black;
}

* {
  margin: 0px;
  padding: 0px;
}

.main-content {
  padding: 0px 16px;
}

body {
  font-family: "Inter";
  height: 100vh;
}

body {
  font-family: "Inter";
}

.reset-header {
  padding: 27px 16px 21px 16px;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reset-header-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.reset-header-header {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 500;
  color: #326CAC;
}
.reset-header-right .image {
  width: 28px;
  height: 28px;
}
.reset-header-right .image svg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px 16px;
}
.reset-password-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 12px;
}
.reset-password-p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 32px;
}
.reset-password-btn {
  padding: 12px;
  color: white;
  background-color: #326CAC;
  border: none;
  width: 100%;
}
.reset-password a {
  width: 100%;
}/*# sourceMappingURL=reset-password-confirm.css.map */