@use "./config" as *;

body {
    font-family: $font-family-english;
}

.reset-header {
    padding: 27px 16px 21px 16px;
    border-bottom: 1px solid $divider-color;
    @include flex-space-between(row);

    &-left {
        @include flex-direction(row, 20px);
        align-items: center;
    }

    &-header {
        font-size: 24px;
        font-family: $font-family-english;
        font-weight: $normal;
        color: $text-secondary-color;
    }

    &-right {
        .image {
            width: 28px;
            height: 28px;

            svg {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }

}

.reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px 16px;

    &-header {
        font-size: 30px;
        font-weight: $medium;
        margin-bottom: 12px;
    }

    &-p {
        text-align: center;
        font-size: 16px;
        margin-bottom: 16px;
    }

    .reset-form {
        width: 100%;

        &-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        input {
            padding: 16px;
            margin-bottom: 16px;
        }
        a{
            width: 100%;
        }
        button{
            width: 100%;
        }
    }
    &-btn {
        padding: 12px;
        color: white;
        background-color: $text-secondary-color;
        border: none;

        button {
            width: 100%;
        }
    }

}